<body>
  <main>
    {{#if errorMessage}}
      <div class="user-message user-message--error">
        {{errorMessage}}
      </div>
    {{/if}}
    <form class="login-form" action="/new-password" method="POST">
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input type="hidden" name="userIf" value={{userId}} />
    <input type="hidden" name="resetToken" value={{resetToken}} />
      <div class="form-control">
        <label for="password">
          Password
        </label>
        <input id="password" type="password" name="password" />
      </div>
      <div class="form-control">
        <label for="confirmPassword">
          Confirm New Password
        </label>
        <input id="confirmPassword" type="password" name="confirmPassword" />
      </div>
      <button class="button" type="submit">
        Confirm Password Reset
      </button>
    </form>
  </main>
</body>