<body>
  <main>
    {{#if errorMessage}}
      <div class="user-message user-message--error">
        {{errorMessage}}
      </div>
    {{/if}}
    <form class="login-form" action="/password-reset" method="POST">
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <div class="form-control">
        <label for="email">
          E-mail
        </label>
        <input id="email" type="text" name="email" />
      </div>
      <button class="button" type="submit">
        Request Password Reset
      </button>
    </form>
  </main>
</body>