<body>
  <form class="login-form" action="/signup" method="POST">
    <div class="form-control">
      <label for="e-mail">
        E-mail
      </label>
      <input id="e-mail" type="text" name="e-mail" />
    </div>
    <div class="form-control">
      <label for="password">
        Password
      </label>
      <input id="password" type="password" name="password" />
    </div>
    <div class="form-control">
      <label for="confirmPassword">
        Confirm Password
      </label>
      <input id="confirmPassword" type="password" name="confirmPassword" />
    </div>
    <button class="button" type="submit">
      SignUp
    </button>
  </form>
</body>