<main>
  {{#unless hasOrders}}
    <h1>
      No Orders Yet
    </h1>
  {{else}}
    <ul class="orders">
      {{#each orders}}
        <li class="orders__item">
          <h1>
            Order -
            {{this._id}}
          </h1>
          <ul class="orders__products">
            {{#each this.products}}
              <li class="order__products-item">
                {{this.product.title}}
                -
                <a href="/orders/{{../this._id}}">
                  Invoice
                </a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{/unless}}
</main>